<div class="row hero">
  <div class="profile col-10 col-sm">
    <%= image_tag 'me.jpg', class: 'me image-fluid' %>
    <h1>Alan Unruh</h1>
    <div class="icons">
      <a href="mailto:alan.unruh@gmail.com"><i class="icon fa fa-envelope fa-2x" aria-hidden="true"></i></a>
      <a href="https://github.com/alanunruh"><i class="icon fa fa-github fa-2x" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/alanunruh/"><i class="icon fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
      <a href="https://twitter.com/alanunruh13"><i class="icon fa fa-twitter fa-2x" aria-hidden="true"></i></a>
    </div>
    <br/>
    <h4>I'm a Full Stack Software Engineer spending most of my days building apps, learning new stacks, creating tests, and debugging.</h4>
    <br/>
    <h4>Keep scrolling and see examples of my work.</h4>
  </div>
</div>

<br class="clear">

<h2>Projects</h2>
<hr>

<div class="row">
  <div class="box col-12 col-sm">
    <%= image_tag 'flixter.JPG', class: 'project-image image-fluid' %>
    <h5>Golf Everywhere</h5>
    <p><i>Role: Full Stack Software Engineer</i></p>
    <p>A two sided video streaming marketplace platform, featuring credit card payment capabilities, user role management, complex user interfaces and advanced database relationships.</p>
    <p>
      <span class="tag">Ruby</span>
      <span class="tag">Rails</span>
      <span class="tag">JavaScript</span>
      <span class="tag">Amazon S3</span>
      <span class="tag">Stripe API</span>
    <p/>
    <a href="https://flixter-alan-unruh.herokuapp.com/" class="view">View Site</a>
    <a href="https://github.com/alanunruh/flixter" class="view">View Code</a>
  </div>

  <div class="box col-12 col-sm">
    <%= image_tag 'grammable.JPG', class: 'project-image image-fluid' %>
    <h5>Grammable</h5>
    <p><i>Role: Full Stack Software Engineer</i></p>
    <p>An Instagram clone built using RSpec and FactoryGirl for Test Driven Development in Ruby. Includes S3 AWS image uploading and user authentication.</p>
    <p>
      <span class="tag">Ruby</span>
      <span class="tag">Rails</span>
      <span class="tag">TDD</span>
      <span class="tag">Amazon AWS</span>
    </p>
    <a href="https://grammable-alan-unruh.herokuapp.com/" class="view">View Site</a>
    <a href="https://github.com/alanunruh/grammable" class="view">View Code</a>
  </div>
</div>

<div class="row">
  <div class="box col-12 col-sm">
    <%= image_tag 'todo.JPG', class: 'project-image image-fluid' %>
    <h5>To-Do List</h5>
    <p><i>Role: Full Stack Software Engineer</i></p>
    <p>A dynamic, database-driven web application that fetches data using RESTful JSON APIs from Rails and uses JavaScript to dynamically update the page.</p>
    <p>
      <span class="tag">Ruby</span>
      <span class="tag">Rails</span>
      <span class="tag">JavaScript</span>
      <span class="tag">jQuery</span>
      <span class="tag">AJAX</span>
      <span class="tag">JSON</span>
    </p>
    <a href="https://todo-alan-unruh.herokuapp.com/" class="view">View Site</a>
    <a href="https://github.com/alanunruh/todo" class="view">View Code</a>
  </div>

  <div class="box col-12 col-sm">
    <%= image_tag 'chess.JPG', class: 'project-image image-fluid' %>
    <h5>War & Piece</h5>
    <p><i>Role: Full Stack Software Engineer</i></p>
    <p>As an agile development team this was built as a Ruby on Rails Chess application with complex functionality.</p>
    <p>
      <span class="tag">Ruby</span>
      <span class="tag">Rails</span>
      <span class="tag">JavaScript</span>
      <span class="tag">Agile Development</span>
      <span class="tag">Git</span>
      <span class="tag">TDD</span>
    </p>
    <a href="https://warandpiece.herokuapp.com/" class="view">View Work In Progress</a>
    <a href="https://github.com/warandpiece/chessapp" class="view">View Code</a>
  </div>
</div>

<br class="clear">

<h2>Open Source Contributions</h2>
<hr>

<div class="row">
  <div class="box col-12 col-sm">
    <%= image_tag 'publiclab.JPG', class: 'project-image image-fluid' %>
    <h5>PublicLab.org</h5>
    <p><i>Role: Ruby on Rails Software Engineer</i></p>
    <p>A collaborative knowledge-exchange platform where you can learn how to investigate environmental concerns using inexpensive DIY techniques.</p>
    <p>
      <span class="tag">Ruby</span>
      <span class="tag">Rails</span>
      <span class="tag">Git</span>
      <span class="tag">Agile</span>
    </p>
    <a href="https://publiclab.org/" class="view">View Site</a>
    <a href="https://github.com/publiclab/plots2/pull/1468" class="view">View Contributions</a>
  </div>

  <div class="box col-12 col-sm">
  </div>
</div>

<br class="clear">

<h2>Familiar Tools</h2>
<hr>

<div class="tool col-12 col-sm">
  <p>
    <span class="tag z">Ruby</span>
    <span class="tag z">Rails</span>
    <span class="tag z">Heroku</span>
    <span class="tag z">Git</span>
    <span class="tag z">GitHub</span>
    <span class="tag z">Bootstrap</span>
    <span class="tag z">Foundation</span>
    <span class="tag z">HTML</span>
    <span class="tag z">CSS</span>
    <span class="tag z">PostgreSQL</span>
    <span class="tag z">RSpec</span>
    <span class="tag z">TravisCI</span>
    <span class="tag z">Codenvy</span>
    <span class="tag z">SimpleCov</span>
    <span class="tag z">Slack</span>
    <span class="tag z">Trello</span>
    <span class="tag z">RESTful</span>
    <span class="tag z">RuboCop</span>
  </p>
</div>

<br class="clear">